<div>
    <input type="button" value="Load the Data" (click)="loadData()"/><br/>
    <ul>
        <li *ngFor="let p of projects">Id is {{p._id}},
             Tech is {{p.typeOfTech}}
            Number of Emp is {{p.numberOfEmp}}</li>
    </ul>
    <hr/>
    <div *ngIf="f1">
    <table border="1">
            <tr>
                <th>PId</th>
                <th>Type Of Tech</th>
                <th>Number Of Emp</th>
            </tr>
            <tr *ngFor="let p of projects">
                    <td>{{p._id}}</td>
                    <td>{{p.typeOfTech}}</td>
                    <td>{{p.numberOfEmp}}</td>
            </tr>
    </table>
    </div>
</div>